<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   
    <div class="  min-h-screen bg-zinc-900  text-white p-10 ">
        
        <a href="/" class="text-blue-500 "> Go back to home </a>

         <div class="mt-5 font-light">

             <h1 > <%=filename %></h1>
             <h1> <%=data%> </h1>

         </div>
     
    </div>

</body>
</html>